*{
    border-color: black;
}

h1{
    text-decoration: solid;
    color: rgb(8, 59, 107);

}

body{
    height: 400px;
    width: 335px;
    color: rgb(8, 59, 107);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    font-size: 20px;
    text-decoration: solid;
    float: top;
}

a{
    font-size: 20px;
}

