<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de notas</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div>
        <h1>Gerenciador de Notas</h1>
        <h1>_____________________</h1>
        <a routerLink="/new-aluno"> Novo Aluno   </a>
        <a routerLink="/list-trabalho">Trabalhos </a>
        <br/>
        &nbsp;&nbsp;
        
    </div>
    
    <footer>
        <router-outlet></router-outlet>
    </footer>
</body>
</html>






