<form [formGroup]="formAluno">
    <br/>
    <label>Nome    </label> 
    <input formControlName="nome" style="width: 260px;" type="text"/><br/><br/>
    <label>E-mail   </label>
    <input formControlName="email" style="width: 260px;" type="text"/><br/> <br/>

    <button type="button" style="height: 40px; width: 70px; font-size: 20px;
    background-color: rgb(8, 59, 107); color: white; border-radius: 8px; float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
     value="Salvar" (click)="save()">Salvar</button>
</form>
